<div>
  <h2>Liste des Catégories</h2>
  <button (click)="navigateToCreate()">Créer une nouvelle catégorie</button>
  <ul>
    <li *ngFor="let category of categories">
      {{ category.nom }}
      <a [routerLink]="['/category', category.id]">Détails</a>
      <a [routerLink]="['/category/edit', category.id]">Modifier</a>
      <button (click)="deleteCategory(category.id)">Supprimer</button>

      <!-- Affichage récursif des catégories enfants -->
      <ul *ngIf="category.childCategories && category.childCategories.length">
        <li *ngFor="let child of category.childCategories">
          {{ child.nom }}
        </li>
      </ul>
    </li>
  </ul>
</div>

<!-- Section d'association parent-enfant -->
<div>
  <h3>Associer une catégorie parent avec un enfant</h3>

  <select [(ngModel)]="selectedParentId">
    <option [value]="undefined">Sélectionnez un parent</option>
    <option *ngFor="let category of categories" [value]="category.id">
      {{ category.nom }}
    </option>
  </select>

  <select [(ngModel)]="selectedChildId">
    <option [value]="undefined">Sélectionnez un enfant</option>
    <option *ngFor="let category of categories" [value]="category.id">
      {{ category.nom }}
    </option>
  </select>

  <button (click)="associateParentWithChild()">Associer</button>
</div>
