<div>
  <h2>Liste des Catégories</h2>
  <button (click)="navigateToCreate()">Créer une nouvelle catégorie</button>
  
  <!-- Filter Section -->
  <div>
    <input type="text" [(ngModel)]="nameFilter" (input)="loadFilteredCategories()" placeholder="Filtrer par nom">
    <input type="date" [(ngModel)]="creationDateFilter" (change)="loadFilteredCategories()" placeholder="À partir de la date">
    <label>Catégorie racine : 
      <select [(ngModel)]="isRootFilter" (change)="loadFilteredCategories()">
        <option [value]="null">Toutes</option>
        <option [value]="true">Oui</option>
        <option [value]="false"> false</option>
      </select>
    </label>
  </div>

  <div *ngIf="noResultsFound" class="no-results-message">
    <p>Aucune catégorie trouvée pour les critères sélectionnés.</p>
  </div>

  
  <ul *ngIf="!noResultsFound">
    <li *ngFor="let category of categories">
      {{ category.nom }}
      <a [routerLink]="['/category', category.id]">Détails</a>
      <a [routerLink]="['/category/edit', category.id]">Modifier</a>
      <button (click)="deleteCategory(category.id)">Supprimer</button>

      <!-- Affichage récursif des catégories enfants -->
      <ul *ngIf="category.childCategories && category.childCategories.length">
        <li *ngFor="let child of category.childCategories">
          {{ child.nom }}
        </li>
      </ul>
    </li>
  </ul>
</div>

<div>
  <h3>Associer une catégorie parent avec un enfant</h3>

  <select [(ngModel)]="selectedParentId">
    <option [value]="undefined">Sélectionnez un parent</option>
    <option *ngFor="let category of categories" [value]="category.id">
      {{ category.nom }}
    </option>
  </select>

  <select [(ngModel)]="selectedChildId">
    <option [value]="undefined">Sélectionnez un enfant</option>
    <option *ngFor="let category of categories" [value]="category.id">
      {{ category.nom }}
    </option>
  </select>

  <button (click)="associateParentWithChild()">Associer</button>
</div>
